.center-block {
    top:50%;
    left: 50%;
    width: 600px;
    height: 230px;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;

    .flight-route {
        width: 100%;
        padding: 18px 10px 18px 10px;
        box-sizing: border-box;
        background-color: #f7d603;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        span.icon {
            font-size: 1.8em;
        }
        span.airport-name {
           font-size: 2em; 
        }
    }
    .contact-me {
        width: 100%;
        padding: 18px 10px 18px 10px;
        box-sizing: border-box;
        background-color: #f7a203;
        text-align: center;
        font-style: italic;
    }
    .name {
        width: 100%;
        border: solid 1px #000;
        box-sizing: border-box;
        display: flex;
        .lable {
            background-color: rgb(49, 48, 48);
            flex-basis: 25%;
            padding: 10px;
            color: #fff;
        }
        .value {
            background-color: #000000;
            flex-basis: 75%;
            padding: 10px;
            color: #fff;
        }
    }
  }