<div class="center-block">
  <div class="flight-route">
    <span class="airport-name">BLR</span>
    <span class="icon"> <i class="fa fa-fighter-jet"></i> </span>
    <span class="airport-name">SYD</span>
    <span class="icon"><i class="fa fa-fighter-jet"></i></span>
    <span class="airport-name">MEL</span>
  </div>
  <div class="contact-me">
    IF FOUND PLEASE CONTACT ME
  </div>
  <div class="name">
    <div class="lable">NAME</div>
    <div class="value">BALAKRISHNAN THILLAI VASUKI</div>
  </div>
  <div class="name">
    <div class="lable">ADDRESS</div>
    <div class="value">10 COMPASS DRIVE, GREENVALE. 3059, VIC</div>
  </div>
  <div class="name">
    <div class="lable">CONTACT</div>
    <div class="value">+91 - 9980899667</div>
  </div>
</div>